@tailwind base;
@tailwind components;
@tailwind utilities;

/* Определяем переменные для цветов */
@layer base {
    :root {
        --color-dark-900: #1E1E3C;
        --color-dark-800: #515767;
        --color-light-100: #F8F8F9;
        --color-light-300: #ECEFF4;
        --color-light-500: #C6CDD7;
        --color-primary-500: #4AD9BD;
        --color-secondary-500: #0F7BBE;
        --color-gray: #8A93A3;
        --color-white: #FFFFFF;
    }
}

/* Кастомные шрифты */
@layer base {
    .font-sans {
        font-family: 'Open Sans', sans-serif;
    }
}

/* Кастомные цвета */
@layer utilities {
    .bg-dark-900 {
        background-color: var(--color-dark-900);
    }

    .text-dark-900 {
        color: var(--color-dark-900);
    }

    .bg-dark-800 {
        background-color: var(--color-dark-800);
    }

    .text-dark-800 {
        color: var(--color-dark-800);
    }

    .bg-light-100 {
        background-color: var(--color-light-100);
    }

    .text-light-100 {
        color: var(--color-light-100);
    }

    .bg-light-300 {
        background-color: var(--color-light-300);
    }

    .text-light-300 {
        color: var(--color-light-300);
    }

    .bg-light-500 {
        background-color: var(--color-light-500);
    }

    .text-light-500 {
        color: var(--color-light-500);
    }

    .bg-primary-500 {
        background-color: var(--color-primary-500);
    }

    .text-primary-500 {
        color: var(--color-primary-500);
    }

    .bg-secondary-500 {
        background-color: var(--color-secondary-500);
    }

    .text-secondary-500 {
        color: var(--color-secondary-500);
    }

    .bg-gray {
        background-color: var(--color-gray);
    }

    .text-gray {
        color: var(--color-gray);
    }

    .bg-white {
        background-color: var(--color-white);
    }

    .text-white {
        color: var(--color-white);
    }

    .border-light-100 {
        border-color: var(--color-light-100);
    }
}