<turbo-frame id="discount_value">
  <div class="flex justify-between items-center mb-[12px]">
    <span class="text-dark-800 sans-regular-13">Передвигая слайдер, укажите сумму скидки</span>
    <span id="discount-amount" class="animated-number sans-semibold-16 text-primary-500 transition-all duration-300" data-discount-slider-target="amount">
      <% discount_amount = local_assigns[:input_discount] || local_assigns[:discount_max] %>
      <% if discount_amount.modulo(1) == 0 %>
        <%= number_with_delimiter(discount_amount.to_i, delimiter: " ") %> ₽
      <% else %>
        <%= number_to_currency(discount_amount, unit: "", format: "%n ₽") %>
      <% end %>
    </span>
  </div>
</turbo-frame>