<turbo-frame id="discount_value">
<p class="text-dark_gray_900 text-lg font-semibold">
  Скидка:
  <span id="discount-amount" class="transition-all duration-300" data-discount-slider-target="amount"><%= local_assigns[:input_discount] || local_assigns[:discount_max]  %>₽</span>
</p>
</turbo-frame>