<div class="flex flex-col items-center justify-center text-center">
  <img src="<%= asset_path('icons/empty_cart.svg') %>" alt="Пустая корзина" class="w-24 h-24 object-cover rounded-lg pb-[24px]">
  <span class="m-0 text-gray-600 sans-semibold-22 leading-tight pb-[8px]">В корзине нет товаров</span>
  <span class="sans-regular-14 text-dark-800 leading-tight">Добавьте товар из каталога</span>
</div>
