<turbo-frame id="subtotal_price">
  <div class="flex justify-between items-center mb-[7px]">
    <% total_amount = cart.sum_total_amount %>
    <span class="text-dark-800 sans-regular-13">
      <%= total_amount %> <%= PluralizeWordService.new(total_amount, "товар", "товара", "товаров").call %> на сумму
    </span>
    <span class="text-dark-900 sans-semibold-16 font-regular">
      <% if cart.subtotal_price.modulo(1) == 0 %>
        <%= number_with_delimiter(cart.subtotal_price.to_i, delimiter: " ") %> ₽
      <% else %>
        <%= number_to_currency(cart.subtotal_price, unit: "", format: "%n ₽") %>
      <% end %>
    </span>
  </div>
</turbo-frame>