<header class="sticky top-0 bg-white z-10 w-full h-[60px] shadow-sm
border-b border-light-300">
  <div class="mx-auto px-4 flex items-center pl-[144px] pt-[12px] justify-between">
    <img src="<%= asset_path('logo/icon.svg') %>" alt="frogogo" class="object-cover rounded-lg">
  </div>
</header>
